/*@import url('https://fonts.googleapis.com/css?family=Lato');*/

body {
	font-family: 'Verdana', sans-serif;
	font-size: 12pt;
	/*width: 9999px;*/
}

table {
    border-collapse: collapse;
}

/*u {
	color: red;
}*/

table, th, td {
    border: 2px solid black;
}

th {
	font-size: 12pt;
	font-weight: bold;
}
td {
	font-size: 11pt;
}

blockquote {
    border: 1px solid #cccccc;
    background-color: #f0f0ee;
    padding: 10px;
}

/*s {
	color: green;
}*/

.classRed {
	color: red;
}
.classBlue {
	color: blue;
}
.classGreen {
	color: green;
}
.mhf-test-one {
	color: blue;
}
.mhf-test-two {
	color: green;
}
.mhf-test-three {
	color: red;
}

